@import url('https://fonts.googleapis.com/css2?family=Open+Sans');

html,
body {
  height: 100%;
  background-color: #fffdf6;
  color: #333;
  overflow: auto;
  font-family: 'Open Sans', system-ui, -apple-system, sans-serif;
}

#app {
  height: 100%;
}
